#results-nav {
    background: rgb(192, 192, 192);
    position: sticky;
    display: flex;
    z-index: 3;
    top: 6.5vh;
  }

#results-nav ul li {
    margin: 0;
    padding: 0;
    height: 4.5vh;
}

#results-nav .nav-title {
    margin-right: 3vh;
    margin-left: -5vh;
    text-shadow: 1.5px 1.5px 0 black;
    color: white;
}

#results-nav button {
  cursor: pointer;
  width: 11.5vh;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 0 black;
  color: white;
  background: inherit;
  border: none;
}

#results-nav button a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}

#results-nav button:hover {
    border-top: 0.5vh solid rgb(110, 110, 110);
    border-bottom: 0.5vh solid rgb(110, 110, 110);
  }

.searchResultsInner {
  background: var(--gold-gradient);
}