.rs-panel .rs-panel-body {
  padding: 0;
  padding-bottom: 1vh;
}

.rs-panel .rs-panel-body .rs-panel {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.rs-panel .rs-panel-body .rs-anim-collapse {
  background: rgb(182, 182, 182);
}