/* ACCORDION */
.accordion-container {
    padding: 0;
    width: 600px;
    margin: 0 auto;
  }
  
  .accordion-master {
    border: 3px solid rgba(255, 255, 255, 0.75);
    border-radius: 15px;
  }
  
  .accordion-master-button {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.72);
    text-decoration: none;
    font-weight: bold;
    /* text-shadow: 1px 1px 0 #ffffff; */
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(-72deg,
        #dedeff,
        #ffffff 16%,
        #dedeff 21%,
        #ffffff 24%,
        #555564 27%,
        #dedeff 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedeff 72%,
        #ffffff 80%,
        #dedeff 84%,
        #555564);
  }
  
  .accordion ul {
    border-radius: 0 !important;
  }
  
  .accordion-inner .accordion-item button {
    border-radius: 0 !important;
  }
  
  .accordion-inner h2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }