/* CAROUSEL */
.carousel-item {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    background: rgba(0, 0, 0, 0.75);

  }
  
  .carousel-control-prev:active,
  .carousel-control-next:active {
    background-color: none;
  }

.carousel .carousel-indicators {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

.carousel {
  min-height: 40vh;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
  inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
}