/* DECK COMPONENT */
.deck-inner {
    padding-top: 3vh;
    /* margin-bottom: 3.5vh; */
  }
  
  .deck-inner .slide-img {
    width: 19.5vh;
    border-radius: 0.5vh;
    margin: 5px 5px;
    padding: 0;
  }
  
  .deck-type {
    background:
      linear-gradient(to right, darkgray, 4px, transparent 4px) 0 0,
      linear-gradient(to right, darkgray, 4px, transparent 4px) 0 100%,
      linear-gradient(to left, darkgray, 4px, transparent 4px) 100% 0,
      linear-gradient(to left, darkgray, 4px, transparent 4px) 100% 100%,
      linear-gradient(to bottom, darkgray, 4px, transparent 4px) 0 0,
      linear-gradient(to bottom, darkgray, 4px, transparent 4px) 100% 0,
      linear-gradient(to top, darkgray, 4px, transparent 4px) 0 100%,
      linear-gradient(to top, darkgray, 4px, transparent 4px) 100% 100%;
  
    background-repeat: no-repeat;
    background-size: 5vh 5vh;
    margin: 20px 0 40px 0;
    display: inline-block
  }
  
  /* .deck-type img {
    margin: 7.5px 5px;
  } */
  
  .deck-type .deck-card-stack {
    float: left;
    margin-top: 5px;
  }
  
  .deck-card-stack {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1;
    margin-bottom: 8vh;
  }
  
  .deck-card:first-child {
    position: relative;
  }
  
  .deck-card {
    position: absolute;
  }
  
  .deck-header {
    display: flex;
    justify-content: center;
  }

  .deck-header h4 {
      color: rgb(224, 224, 224);
      width: 15%;
      margin-right: -2px;
      padding: 5px 30px;
      border: 2px dashed darkgray;
  }

  .deck-header ul {
    display: flex;
  }
