/* HEADER */
#title-container {
    margin-top: 2.5vh;
    color: white;
    text-shadow: 1px 1px 0 #000000;
    background-image: url('https://i.imgur.com/eUFKNVm.png');
    /* background-image: linear-gradient(rgb(46, 113, 236), lightblue, rgb(46, 113, 236)); */
    height: 48vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #title-container .title {
    display: flex;
    justify-content: left;
  }
  
  #title-container h3 {
    font-weight: bold;
    font-size: 26px;
  }
  
  #title-img {
    width: 20vh;
    /* margin: 0.5vh; */
    margin-right: 2vh;
  }