header,
body,
footer {
  max-width: none;
  margin: 0px auto;
}

.landing-container {
  height: 72.5vh;
  background-image: url('https://i.imgur.com/91T4JcC.jpg');
  background-position: top -10vh center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  padding-top: 20px;
  position: relative;
}

.landing-navbar {
  margin: 0 auto;
  display: flex;
  width: 82.5%;
}

.landing-navbar ul {
  display: flex;
  justify-content: left;
  margin: 0;
}

.landing-navbar li {
  padding-top: 5px;
}

.landing-navbar ul img {
  width: 25vh;
  margin-right: 3vh;
}

.landing-navbar ul+ul {
  display: flex;
  justify-content: right;
}

.landing-navbar button {
  background: inherit;
  border: none;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

.landing-navbar a {
  color: rgb(212, 212, 212);
  text-decoration: none;
}

.landing-navbar a:hover {
  transition: 0.2s;
  color: white;
}

.landing-title-container {
  margin-top: 10vh;
  color: white;
}

.landing-title-container h1 {
  font-size: 50px;
  font-weight: bold;
}

.landing-title-container h5 {
  margin-top: 1vh;
  font-size: 20px;
  font-weight: 100;
}

.landing-body {
  min-height: 60vh;
  background: rgb(212, 212, 212);
  padding-bottom: 3.5vh;
}

.landing-articles article {
  width: 30vh;
}

.landing-set-container {
  margin-top: 30vh;
  width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

.landing-set-container h2,
.landing-button-container h2 {
  text-shadow: 1px 1px 0 #ffffff;
  margin: 0 auto;
  padding: 35px;
  font-size: 24px;
  color: rgb(54, 54, 54);
  background: rgb(238, 238, 238);
  box-shadow:
    1px 1px 0.5em rgba(122, 122, 122, 0.55),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
    inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
}

.landing-sets {
  padding: 3.5vh;
  margin-top: 3vh;
  flex-wrap: wrap;
  background: rgb(172, 172, 172);
  box-shadow:
    1px 1px 0.5em rgba(122, 122, 122, 0.55),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
    inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
}

.landing-sets section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(238, 238, 238);
}

.landing-sets .set-header {
  color: rgb(54, 54, 54);
  text-shadow: 1px 1px 0 #ffffff;
  border: 1px solid white;
  padding: 0.5vh 0;
  width: 100%;
  box-shadow:
    1px 1px 0.5em rgba(122, 122, 122, 0.55),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
    inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
  margin: 0 35%;
  background-image: linear-gradient(-72deg,
      #dedeff,
      #ffffff 16%,
      #dedeff 21%,
      #ffffff 24%,
      #dedeff 36%,
      #ffffff 45%,
      #ffffff 60%,
      #dedeff 72%,
      #ffffff 80%,
      #dedeff 84%,
      #555564);
}

.landing-sets .set-header+.set-header {
  margin-bottom: 2vh;
  background: white;
}

.landing-sets img {
  position: relative;
  width: 220px;
  height: 385px;
  border-radius: 0.5em;
  z-index: 10;
  filter: drop-shadow(5px 5px 5px black);
  margin: 2vh 2vh;
}

.landing-sets img:hover {
  transform: scale(1.07);
}

.landing-sets .set-booster-pack {
  margin: 0 0.5vh 1vh 0.5vh;
}

.landing-sets .set-booster-pack h4 {
  color: rgb(54, 54, 54);
  text-shadow: 1px 1px 0 #ffffff;
  padding: 0.75vh 0;
  margin: auto 2vh;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    1px 1px 0.5em rgba(122, 122, 122, 0.55),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
    inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
  background: rgb(212, 212, 212);
}

.set-divider {
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 5vh;
  border: 1px solid white;
  box-shadow:
    1px 1px 0.5em rgba(122, 122, 122, 0.55),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
    inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
  background: white;
}

.landing-body .landing-button-container {
  margin: 0 auto;
  margin-top: 3.5vh;
  padding: 0;
  width: 1480px;
}


.landing-button-container button {
  margin: 2vh 1.5vh;
  background: rgb(218, 218, 218);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  filter: drop-shadow(1.5px 1.5px 1.5px black);
  color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 5px 30px;
  border: 2px solid rgba(145, 145, 145, 0.35);
  transition: 0.2s;
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 2px 2px 0 rgba(255, 255, 255, 0.9),
    inset -2px -2px 0 rgba(0, 0, 0, 0.34);
}

.landing-button-container button:active {
  filter: drop-shadow(1px 1px 1px black);
  transform: scale(0.9);
}

.landing-button-container button a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

.landing-button-container button a:hover {
  color: rgb(112, 112, 112);
}


@media screen and (max-width: 1200px) {
  .landing-set-container {
    width: 100%;
  }

  .landing-body .landing-button-container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .landing-body {
    max-width: 992px;
  }

  .landing-navbar {
    margin: 0 1vh;
    display: flex;
    width: 82.5%;
  }

  .landing-container {
    height: 32.5vh;
    background-position: top -5.5vh center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding-top: 20px;
    position: relative;
  }

  .landing-set-container {
    margin-top: 0vh;
  }

  .landing-sets {
    padding: 2.5vh;
  }

  .landing-sets img {
    height: 593px;
    width: 343px;
  }

  .landing-sets .set-header {
    padding: 2% 0;
    margin: 0 5%;
    font-size: 30px;
  }

  .landing-sets .set-divider h3 {
    font-size: 44px;
  }

  .set-booster-pack h4 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .landing-container {
    height: 50vh;
    background-position: top 0 center;
    background-size: cover;
  }

  .landing-title-container {
    margin-top: 25%;
  }

  .landing-sets {
    padding: 2.5vh;
  }

  .landing-sets img {
    height: 450px;
    width: 260px;
  }

  .landing-sets .set-header {
    padding: 2% 0;
    margin: 0 5%;
    font-size: 26px;
  }

  .landing-sets .set-divider h3 {
    font-size: 34px;
  }

  .set-booster-pack h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .landing-container {
    height: 38.5vh;
    background-position: center;
  }

  .landing-container .landing-navbar {
    margin: 0 auto;
    display: flex;
    width: 100%;
  }

  .landing-set-container {
    margin-top: 0
  }

  .landing-title-container h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .landing-set-container h2 {
    font-size: 22px;
  }

  .landing-sets {
    padding: 2.5vh;
  }

  .landing-sets img {
    height: 311px;
    width: 180px;
  }

  .landing-sets .set-divider h3 {
    padding: 2% 0;
    margin: 0 5%;
    font-size: 28px;
  }

  .landing-sets .set-divider h4 {
    padding: 2% 0;
    margin: 0 5%;
    font-size: 22px;
  }

  .landing-sets .set-booster-pack h4 {
    font-size: 20px;
    padding: 0.5vh 0;
  }
}

@media screen and (max-width: 500px) {
  .landing-container {
    height: 50vh;
    background-position: top 0 center;
    background-size: cover;
  }

  .landing-container .landing-navbar #title-img {
    margin-right: 0;
    width: 24vh;
  }

  .landing-container .landing-navbar li button a {
    font-size: 16px;
  }

  .landing-container .landing-navbar #nav-ul-one li {
    margin-right: 0;
    margin-left: auto;
  }

  .landing-container .landing-navbar #nav-ul-two li {
    margin-right: auto;
    margin-left: 0;
  }

  .landing-container .landing-navbar #nav-ul-two li+li {
    margin-right: 0;
    margin-left: auto;
  }

  .landing-title-container h1 {
    font-size: 26px;
    font-weight: bold;
  }

  .landing-title-container h5 {
    font-size: 16px;
    padding: 0 5vh;
  }

  .landing-set-container h2 {
    font-size: 18px;
    padding: 2vh 2vh;
  }

  .landing-sets .set-divider h3 {
    padding: 2% 0;
    margin: 0 5%;
    font-size: 24px;
  }

  .landing-sets .set-divider h4 {
    padding: 2% 0;
    margin: 0 5%;
    font-size: 18px;
  }

  .landing-sets img {
    height: 419px;
    width: 242px;
  }
}