/* MODAL COMPONENT */
.modal {
    --bs-modal-width: 900px;
    
  }
  
  .modal-img {
    width: 100%;
    border-radius: 0.75vh;
    filter: drop-shadow(5px 5px 5px black);
  }
  
  .slide-img {
    width: 22vh;
    padding: 5px;
    margin: 5px;
    border-radius: 1vh;
    filter: drop-shadow(5px 5px 5px black);
  }
  
  .slide-img:hover {
    opacity: 0.90
  }
  
  .slide-img:active {
    transform: scale(.90);
    filter: drop-shadow(3px 3px 3px black);
  }
  
  #exampleModalLabel {
    margin-left: 10px;
    text-shadow: 1px 1px 0 #ffffff;
  }
  
  .modal-content {
    position: absolute;
    transform: translate(0%, 5%);
    border: 5px rgba(255, 255, 255, 0.70) solid;
  }
  
  .modal-header {
    padding: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(-72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #caa1de 27%,
        #dea1ca 30%,
        #dedede 38%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #caa1de 93%,
        #dea1ca)
  }
  
  .modal-button-container {
    margin-top: 10px;
    padding: 10px;
  }
  
  .modal-button-container button {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    filter: drop-shadow(2px 2px 2px black);
    color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 5px 30px;
    border: 2px solid rgba(145, 145, 145, 0.35);
    transition: 0.2s;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 2px 2px 0 rgba(255, 255, 255, 0.9),
      inset -2px -2px 0 rgba(0, 0, 0, 0.34);
    background-image: linear-gradient(-72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #b4b4b4 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1);
  }
  
  .modal-button-container .btn:hover {
    color: rgba(0, 0, 0, 0.75);
  }
  
  .modal-button-container button:active {
    transform: scale(0.9);
    filter: drop-shadow(1px 1px 1px black);
  }
  
  .modal-button-container .btn a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
  }
  
  /* MODAL COLORS */
  .card-modal-Grass {
    /* background: #228B22; */
    background-image: linear-gradient(264deg, #F4D03F 0%, #77CC55 35%, #16A085 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Fire {
    /* background: #E24242; */
    background-image: linear-gradient(270deg, rgb(255, 247, 93) 0%, rgb(254, 101, 13) 65%, rgb(243, 60, 4) 70%, rgb(218, 31, 5) 85%, rgb(161, 1, 0) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Water {
    /* background: #1366c5; */
    background-image: linear-gradient(250deg, #1366c5 0%, #2BC0E4 61%, #2a238d 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Lightning {
    /* background: #FAB536; */
    background-image: linear-gradient(65deg, #db9a22 0%, #d5e25a 40%, #FAB536 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Psychic {
    /* background: #4B3A74; */
    background-image: linear-gradient(to left, rgb(230, 140, 204) 0%, #a18cd1 25%, #1f1044 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Fighting {
    /* background: #996600; */
    background-image: linear-gradient(to left, rgb(184, 145, 67), rgb(153, 102, 0) 45%, rgb(112, 26, 0) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Darkness {
    background: #333333;
    /* background-image: linear-gradient(to left, #EAECC6 0%, #2BC0E4 61%, #2BC0E4 100%); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Metal {
    /* background: #8A776E; */
    background-image: linear-gradient(65deg, #61534d, #ececec 55%, #e3e4dc 60%, #61534d 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Colorless {
    background: #AAAA99;
    /* background-image: linear-gradient(to right, #AAAA99, #e4e4e4); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card-modal-Fairy {
    background: #FEBAF9;
    /* background-image: linear-gradient(to left, #EAECC6 0%, #2BC0E4 61%, #2BC0E4 100%); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  }