/* NAVBAR */
.navbar {
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border: none;
    z-index: 10;
    display: flex;
    border-bottom: 1px solid rgb(192, 192, 192);
  }

  .navbar-nav {
    height: 100%;
  }
  
  .navbar .container-fluid {
    padding: 0 20vh;
    border: none;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    color: white;
    background-color: #d9690d;
  }
  
  .navbar-nav .nav-link.active {
    color: white;
  }
  
  .nav-item-two {
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: right;
    justify-content: right;
  }
  
  .nav-item-two li {
    display: flex;
    align-items: right;
    justify-content: right;
  }

/* Style the tab */
.tab {
  height: 6.5vh;
  overflow: hidden;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content {
  background: rgb(58, 58, 58);
  /* background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000); */
  background-size: cover;
  margin: 0 auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  cursor: pointer;
  width: 11.5vh;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  color: rgba(0, 0, 0, 0.75);
  background: inherit;
  border: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: rgb(192, 192, 192);
}

/* Create an active/current tablink class */
/* .tab button:active, button:focus {
  border: 3px solid yellow;
} */

