    /* Style the tab content */
  .tabcontent {
    /* display: none; */
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: clip;
    top: 0;
  }

  /* #tab-one {
    background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000);
    border: 2.5px solid rgba(82, 82, 82, 0.75);
    background-image: linear-gradient(-72deg, #5e0000, #780000, #bd4646, #CA0002, #bd4646, #CD0102, #bd4646, #780000, #5e0000);
  } */
  
  /* #tab-two {
    background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000);
    border: 2.5px solid rgba(82, 82, 82, 0.75);
    background-image: linear-gradient(rgb(75, 155, 110), #d0f0c0, rgb(75, 155, 110));
  } */
  
  /* #tab-three {
    background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000);
    border: 2.5px solid rgba(82, 82, 82, 0.75);
    background-image: linear-gradient(rgb(180, 145, 95), lightyellow, rgb(180, 145, 95));
  } */

  #tab-two .slide {
    padding: 0 20vh;
  }
  
  #tab-two .sub-header h4 {
    margin: 0.5vh 0;
  }

  #tab-three .slide {
    padding: 0 12.75vh;
  }
  