@import "rsuite/dist/rsuite.css";

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

.App {
  margin: 0 auto;
  padding: 0 25vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.padding-expand {
  padding: 5px 5px;
}

.text-right {
  padding-right: 5px;
  text-align: right;
}

.text-left {
  padding-left: 12px;
  text-align: left;
}

.right-padding {
  padding-right: 10px;
}

.right-padding-two {
  padding-right: 20px;
}

.text-upwards {
  margin-top: -2px;
}

.flex-half {
  flex: 0.5;
  margin: 0;
}

.flex-quarter {
  flex: 0.35;
}

.res-col {
  flex: 0.2;
  width: 10%;
}


/* SUB-HEADER */
.search-header-container {
  text-shadow: 2px 2px 0 #ffffff;
  filter: drop-shadow(0px 0px 0px white);
  color: rgb(92, 92, 92);
}

.search-header-container h2,
h6 {
  font-weight: bold;
}

.search-header-container h6 {
  font-size: 17px;
}

/* .search-footer-container {
  padding: 16px 0;
  text-shadow: 2px 2px 0 #000000;
  filter: drop-shadow(0px 0px 0px white);
  color: white;
  min-height: 12vh;
  background: white;
  background-size: cover;
} */

.search-input {
  padding: 0;
  justify-content: center;
  width: 80vh;
  margin: 0px auto 6.5px auto;
  /* border: 3px solid rgba(255, 255, 255); */
}

.search-input ul {
  background: rgb(128, 128, 128);
  /* background-image: linear-gradient( 75.5deg,  rgba(217,115,115,1) 22.3%, rgba(234,245,165,1) 59.1%, rgba(165,245,242,1) 89.7% ); */
  min-height: 8.5vh;
}



.type-input-div {
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset -1.5px -1.5px 0 rgba(255, 255, 255, 0.9),
    inset 1.5px 1.5px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
}

.list-one-third .pkmn-icon {
  width: 28px;
}

.supertype-input-sec ul {
  padding-top: 20px;
}

.supertype-input-sec img {
  width: 24px;
  margin-bottom: 6px;
}

.subtype-input-sec img {
  width: 24px;
}

.list-one-third {
  min-height: 3.8vh;
  max-height: 3.8vh;
  font-size: 17px;
  font-weight: bold;
  padding: 4px 5px;
  border: 1px solid black;
  border-radius: 0.4em;
  filter: drop-shadow(2px 2px 2px black);
  margin: 3px 5px;
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #000000;
  /* background-image: linear-gradient(
    -72deg,
    #ffdeca,
    #ffffff 16%,
    #ffdeca 21%,
    #ffffff 24%,
    #ffdeca 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffdeca 72%,
    #ffffff 80%,
    #ffdeca 84%,
    #de7345
  ); */
}

.list-one-third div {
  display: inline-block;
  margin-left: 3px;
  zoom: 0.9;
  margin-bottom: -5px;
}

.list-one-third img {
  margin-left: 3px;
  zoom: 0.9;
  margin-bottom: 3px;
}

.list-one-third label {
  padding-left: 5px;
}

.type-input {
  float: right;
  margin-top: 4px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

input[type=radio] {
  border: 0px;
  width: 18px;
  height: 18px;
}

.sub-header {
  width: 100%;
  justify-content: center;
  background: rgb(212, 212, 212);
  margin: 0;
}

.sub-header ul {
  margin: 0;
  justify-content: center;
}

.sub-header button {
  cursor: pointer;
  width: 11.5vh;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  color: rgba(0, 0, 0, 0.75);
  background: inherit;
  border: none;
}

.sub-header button a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}