* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
}

body {
  text-align: center;
}

body ul {
  list-style: none;
}

.App hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

.flex-quarter {
  flex: 0.35;
}

.type-input {
  float: right;
  margin-top: 2.5px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 1200px) {
  .App {
    padding: 0;
  }
}

.textWhiteShadow {
  color: rgb(255, 255, 255);
  text-shadow: 1.5px 1.5px 0 rgb(0 0 0 / 90%);
}
