header, body, footer {
  max-width: 1480px;
  margin: 0px auto;
  text-align: center;
}

body {
  border: 1px solid #565656;
  box-shadow:
    2px 2px 0.5em rgba(0, 0, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.55),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    background: repeating-linear-gradient(45deg, #000000, #787bff 2px, #565656 1px);
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#title-container {
  font-family: 'Nintendo DS BIOS', sans-serif;
  background-image: linear-gradient(rgb(46, 113, 236), lightblue, rgb(46, 113, 236));
  padding: 30px 0;
  border: 2.5px solid rgba(49, 25, 185, 0.25);
}

#title-container h3 {
  font-weight: bold !important;
}

#tab-one {
  background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000);
  /* border: 2.5px solid rgba(82, 82, 82, 0.75) !important; */
   /* background-image: linear-gradient(-72deg, #5e0000, #780000, #bd4646, #CA0002, #bd4646, #CD0102, #bd4646, #780000, #5e0000); */
}

#tab-two {
  background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000);
  /* border: 2.5px solid rgba(82, 82, 82, 0.75) !important; */
  /* background-image: linear-gradient(rgb(75, 155, 110), #d0f0c0, rgb(75, 155, 110)); */
}

#tab-three {
  background: radial-gradient(#ff4d50, #ff383b, #CA0002, #780000);
  /* border: 2.5px solid rgba(82, 82, 82, 0.75) !important; */
  /* background-image: linear-gradient(rgb(180, 145, 95), lightyellow, rgb(180, 145, 95)); */

}

/* ICONS */
.icon-Grass {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -25px -50px;
  width: 25px;
  height: 25px;
}

.icon-Fire {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
}

.icon-Water {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -75px -50px;
  width: 25px;
  height: 25px;
}

.icon-Lightning {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -50px -50px;
  width: 25px;
  height: 25px;
}

.icon-Psychic {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -75px -25px;
  width: 25px;
  height: 25px;
}

.icon-Fighting {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -50px -25px;
  width: 25px;
  height: 25px;
}

.icon-Darkness {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: 0px -50px;
  width: 25px;
  height: 25px;
}

.icon-Metal {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -75px 0px;
  width: 25px;
  height: 25px;
}

.icon-Colorless {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -25px 0px;
  width: 25px;
  height: 25px;
}

.icon-Fairy {
  background-image: url('https://i.imgur.com/9NMFHcH.png');
  background-position: -50px 0px;
  width: 25px;
  height: 25px;
}

.icon-text-box h6 {
  padding-top: 3px;
  padding-left: 5px;
}

.icon-sm-row {
  padding-top: 0px;
}

.card-title-box div {
  zoom:1.00;
}

.card-trio-col div {
  zoom: 0.95
}

.icon-sm {
  zoom:0.85;
}

/* CARD COMPONENT */
#card {
  height: 10vh;
  width: 10%;
}

.card-modal-undefined {
  background-image: linear-gradient( 99.6deg,  rgba(112,128,152,1) 10.6%, rgba(242,227,234,1) 32.9%, rgba(234,202,213,1) 52.7%, rgba(220,227,239,1) 72.8%, rgba(185,205,227,1) 81.1%, rgba(154,180,212,1) 102.4% );
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card-box {
  display: flex;
  margin: 30px 20px 40px 20px;
}

.card-img {
  padding: 15px;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.55);
}

.card-divider {
  text-align: left;
  float: left;
  flex: 50%;
}

.card-text {
  padding-left: 20px;
}

.card-text h3 {
  margin-bottom: 0;
}

.text-stage {
  padding-top: 3px;
}

.card-attr-border {
  border: 2px solid white;
  border-radius: 5px;
}

.card-trio-col {
  padding: 0;
  text-align: center;
}

.padding-expand {
  padding: 5px 5px;
}

.no-margin-bottom {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.text-right {
  padding-right: 5px;
  text-align: right;
}

.text-left {
  padding-left: 12px;
  text-align: left;
}

.right-padding {
  padding-right: 10px;
}

.text-upwards {
  margin-top: -2px;
}

.flex-half {
  flex: 0.5;
  margin: 0;
}

.flex-quarter {
  flex: 0.35;
}

.attack-name {
  font-weight: bold;
  flex: 1.2;
}

.attack-icons {
  margin: 0;
  flex: 0.55;
  /* justify-content: right; */
}

.attack-cost {
  flex: 0 0 !important;
  padding: 0;
}

.attack-damage {
  text-align: center;
}

.res-col {
  flex: 0.2;
  width: 10%;
}

.card-title-box h4 {
  flex: 0.35;
  padding-top: 2.5px;
  margin-bottom: 0;
}

.card-title-box div {
  margin-top: 3.5px;
}

.card-ability-title {
  color: rgb(75, 15, 15);
  background-image: linear-gradient(-72deg,
    rgb(255, 222, 202, 0.70),
    rgb(255, 255, 255, 0.70) 16%,
    rgb(255, 222, 202, 0.70) 21%,
    rgb(255, 255, 255, 0.70) 24%,
    rgb(222, 115, 69, 0.70) 27%,
    rgb(255, 222, 202, 0.70) 36%,
    rgb(255, 255, 255, 0.70) 45%,
    rgb(255, 255, 255, 0.70) 60%,
    rgb(255, 222, 202, 0.70) 72%,
    rgb(255, 255, 255, 0.70) 80%,
    rgb(255, 222, 202, 0.70) 84%,
    rgb(222, 115, 69, 0.70));
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-bio {
  border: 2px solid rgb(255, 255, 255);
  padding: 3px 3px;
}

.center-box {
  margin: 0 auto;
  justify-content: center;
}

/* MODAL COMPONENT */
#exampleModalLabel {
  margin-left: 10px;
}

.modal-content {
  position: absolute;
  transform: translate(0%, 5%);
  border: 5px rgba(255, 255, 255, 0.70) solid;
}

.modal-header {
  padding: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5)
;
  background-image: linear-gradient(
    -72deg,
  #dedede,
  #ffffff 16%,
  #dedede 21%,
  #ffffff 24%,
  #caa1de 27%,
  #dea1ca 30%,
  #dedede 38%,
  #ffffff 45%,
  #ffffff 60%,
  #dedede 72%,
  #ffffff 80%,
  #dedede 84%,
  #caa1de 93%,
  #dea1ca)
}

.modal-button-container {
  margin-top: 10px;
  padding: 10px;
}

.modal-button-container button {
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  filter: drop-shadow(2px 2px 2px black);
  color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 5px 30px;
  border: 2px solid rgba(145, 145, 145, 0.35);
  transition: 0.2s;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 2px 2px 0 rgba(255, 255, 255, 0.9),
  inset -2px -2px 0 rgba(0, 0, 0, 0.34);
  background-image: linear-gradient(-72deg,
  #dedede,
  #ffffff 16%,
  #dedede 21%,
  #ffffff 24%,
  #b4b4b4 27%,
  #dedede 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedede 72%,
  #ffffff 80%,
  #dedede 84%,
  #a1a1a1);
}

.modal-button-container button:hover {
  color: rgba(0, 0, 0, 0.75) !important;
}

.modal-button-container button:active {
  transform: scale(0.9);
  filter: drop-shadow(1px 1px 1px black);
}

.modal-button-container button a {
  color: rgba(0, 0, 0, 0.75) !important;
  text-decoration: none;
}

/* MODAL COLORS */
.card-modal-Grass {
  background-image: linear-gradient(264deg, #F4D03F 0%, #16A085 100%);  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Fire {
  background-image: linear-gradient(270deg, rgb(255, 247, 93) 0%, rgb(254, 101, 13) 65%, rgb(243, 60, 4) 70%, rgb(218, 31, 5) 85%, rgb(161, 1, 0) 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Water {
  background-image: linear-gradient(250deg, #EAECC6 0%, #2BC0E4 61%, #2a238d 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Lightning {
  background-image: linear-gradient(to left, #e4e6fd 0%, #f0ff68 40%, #fadf31 60%, #f1f1ea 80%, #F8D800 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Psychic {
  background-image: linear-gradient(to left, #b3b3b3, rgb(230, 140, 204) 20%, #a18cd1 50%, #1f1044 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Fighting {
  background-image: linear-gradient(to left, rgb(189, 161, 154) 45%, rgb(90, 21, 0) 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Darkness {
  background-image: linear-gradient(to left, #EAECC6 0%, #2BC0E4 61%, #2BC0E4 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Metal {
  background-image: linear-gradient(to left, #EAECC6 0%, #2BC0E4 61%, #2BC0E4 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Colorless {
  background-image: linear-gradient(to right, #575a5e, #e4e4e4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.card-modal-Fairy {
  background-image: linear-gradient(to left, #EAECC6 0%, #2BC0E4 61%, #2BC0E4 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.slide-img {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px black);
}

/* MODAL COMPONENT */
.modal {
  --bs-modal-width: 900px;
}

.modal-img {
  width: 100%;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px black);
}

.slide-img:hover {
  opacity: 0.90
}

.slide-img:active {
  transform: scale(.90);
  filter: drop-shadow(3px 3px 3px black);
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-image: linear-gradient( 89.9deg,  rgb(255, 50, 50), rgb(255, 166, 65), rgba(252,246,19,1), rgba(252,246,19,1), rgb(255, 166, 65), rgb(255, 50, 50));
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(0, 0, 0, 0.25);
  border-left: 2px solid rgba(0, 0, 0, 0.25);
}

.tab-content {
  border: none !important;
  min-height: 85vh;
  margin: 0 auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  cursor: pointer;
  padding: 8px 36px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  color: rgba(0, 0, 0, 0.75);
  padding: 5px 30px;
  border: 3.5px solid rgba(255, 255, 65, 0.35);
  box-shadow:
  2px 2px 2px rgba(122, 122, 122, 0.55),
  inset 2px 2px 0 rgba(255, 255, 255, 0.9),
  inset -2px -2px 0 rgba(0, 0, 0, 0.34);
  background-image: linear-gradient( 89.9deg,  rgb(255, 166, 65) -2.8%, rgba(252,246,19,1) 50.8%, rgb(255, 166, 65) 107.9% );
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button:active {
  transform: scale(0.9);
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/* SEARCH PARAMETERS */
ul {
  list-style: none;
}

.keyword-box {
  width: 600px;
  margin: 3px auto;
}

.keyword-box section {
  padding: 0;
  margin: 2px;
}

.keyword-box ul {
  height: 8.25vh;
}

.keyword-box li {
  margin: 0 auto;
}

.name-input ul {
  justify-content: center;
}

.name-input li {
  margin: 0 40px;
}

#keyword-search {
  pointer-events: none;
}

.button-box {
  display: flex;
  justify-content: center;
}

.button-input {
  width: 600px;
  justify-content: center;
  display: flex;
  padding: 0 5px;
  margin: 0px 5px;
}

.button-input ul {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: right;
  padding: 0;
}

.button-input li {
  margin: 10px 0px;
}

.button-input button {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  filter: drop-shadow(2px 2px 2px black);
  color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 5px 30px;
  border: 2px solid rgba(145, 145, 145, 0.35);
  transition: 0.2s;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 2px 2px 0 rgba(255, 255, 255, 0.9),
  inset -2px -2px 0 rgba(0, 0, 0, 0.34);
  background-image: linear-gradient(-72deg,
  #dedede,
  #ffffff 16%,
  #dedede 21%,
  #ffffff 24%,
  #b4b4b4 27%,
  #dedede 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedede 72%,
  #ffffff 80%,
  #dedede 84%,
  #a1a1a1);
}

.button-input button:active {
  filter: drop-shadow(1px 1px 1px black);
  transform: scale(0.9);
}

.search-container {
  margin: 0 auto;
}

.search-container .basic-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.search-container .advanced-search {
  margin-top: -8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-box {
  visibility: hidden;
}

.search-header-container {
  padding: 16px 0;
  text-shadow: 1px 1px 0 #ffffff;
  filter: drop-shadow(0px 0px 0px white);
  color: rgba(0, 0, 0, 0.80);
  min-height: 12vh;
  margin-bottom: 25px;
  border: 2px solid gray;
  background-image: linear-gradient(-72deg,
  #dedede,
  #ffffff 16%,
  #dedede 21%,
  #ffffff 24%,
  #caa1de 27%,
  #dea1ca 30%,
  #dedede 38%,
  #ffffff 45%,
  #ffffff 60%,
  #dedede 72%,
  #ffffff 80%,
  #dedede 84%,
  #caa1de 93%,
  #dea1ca);
}

.search-header-container h2, h6 {
  font-weight: bold;
}

.search-input {
  padding: 0 !important;
  justify-content: center;
  width: 600px;
  margin: 3px 5px;
  border: 3px solid rgba(255, 255, 255, 0.75);
  border-radius: 15px;
}

.search-input ul {
  background-image: linear-gradient( 75.5deg,  rgba(217,115,115,1) 22.3%, rgba(234,245,165,1) 59.1%, rgba(165,245,242,1) 89.7% );
  min-height: 8.5vh;
}

.search-input h3 {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5)
  ;
  margin: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-image: linear-gradient(
  -72deg,
  #dedeff,
  #ffffff 16%,
  #dedeff 21%,
  #ffffff 24%,
  #555564 27%,
  #dedeff 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedeff 72%,
  #ffffff 80%,
  #dedeff 84%,
  #555564
);
  padding: 3px 0 5px 0;
}

.type-input-div {
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5)
;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
}

.list-one-third {
  max-height: 3.5vh;
  font-weight: bold;
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 0.8em;
  filter: drop-shadow(2px 2px 2px black);
  margin: 3px 5px;
  background-image: linear-gradient(
    -72deg,
    #ffdeca,
    #ffffff 16%,
    #ffdeca 21%,
    #ffffff 24%,
    #ffdeca 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffdeca 72%,
    #ffffff 80%,
    #ffdeca 84%,
    #de7345
  );
}

.pkmn-icon {
  width: 28px !important;
}

.supertype-input-sec ul {
  padding-top: 20px;
}

.supertype-input-sec img {
  width: 24px;
}

.subtype-input-sec img {
  width: 24px;
}

.list-one-third div {
  display: inline-block;
  margin-left: 3px;
  zoom: 0.8;  
  margin-bottom: -5px;
}

.list-one-third img {
  margin-left: 3px;
  zoom: 0.8;  
  margin-bottom: 3px;
}

.list-one-third label {
  padding-left: 5px;
}

.type-input {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

input[type=radio] {
  border: 0px;
  width: 15px;
  height: 1em;
}

/* ACCORDION */

.accordion-container {
  padding: 0;
  width: 600px;
}

.accordion-master {
  border: 3px solid rgba(255, 255, 255, 0.75);
  border-radius: 15px;
}

.accordion-master-button {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  /* text-shadow: 1px 1px 0 #ffffff; */
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5)
  ;
  background-image: linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
}

.accordion ul {
  border-radius: 0 !important;
}

.accordion-inner .accordion-item button {
  border-radius: 0 !important;
}

.accordion-inner h2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CARD STACKING - GIVE EACH CARD AN ABSOLUTE POSITION AND SHIFT EACH SUBSEQUENT CARD BY A FEW PIXELS */