body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --red-gradient: linear-gradient(to right, rgb(255, 45, 45), rgb(255, 70, 70));
  --blue-gradient: rgb(35, 95, 180);
  --green-gradient: linear-gradient(to right, rgb(0, 128, 0), rgb(25, 205, 25));
  --gold-gradient: linear-gradient(rgb(180, 145, 95), lightyellow, rgb(180, 145, 95));
  --dark-grey: rgb(128, 128, 128);
  --charcoal-grey: rgb(58, 58, 58);
}

.bg-red {
  background: var(--red-gradient)
}

.bg-blue {
  background: var(--blue-gradient)
}

.bg-green {
  background: var(--green-gradient)
}

.bg-gold {
  background: var(--gold-gradient)
}
