@import "../../index.scss";

.landing {

    .navbar {
        margin: 0 auto;
        display: flex;
        width: 82.5%;

        @include large {
            margin: 0 1vh;
            width: 82.5%;
        }

        @include small {
            margin: 0 auto;
            width: 100%;
        }

        .left {
            display: flex;
            justify-content: left;
            margin: 0;

            img {
                width: 25vh;
                margin-right: 3vh;

                @include x-small {
                    margin-right: 0;
                    width: 24vh;
                }
            }

            li {
                padding-top: 5px;

                @include x-small {
                    margin-right: 0;
                    margin-left: auto;
                }

                button {
                    background: inherit;
                    border: none;
                    margin: 10px;
                    font-size: 18px;
                    font-weight: bold;

                    a {
                        color: rgb(212, 212, 212);
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: white;
                        }

                    }
                }
            }
        }

        .right {
            display: flex;
            justify-content: right;
            margin: 0;

            .li-left {

                @include x-small {
                    margin-right: auto;
                    margin-left: 0;
                }

                button {
                    background: inherit;
                    border: none;
                    margin: 10px;
                    font-size: 18px;
                    font-weight: bold;

                    a {
                        color: rgb(212, 212, 212);
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: white;
                        }

                        @include x-small {
                            font-size: 16px;
                        }
                    }
                }
            }

            .li-right {
                @include x-small {
                    margin-right: 0;
                    margin-left: auto;
                }

                button {
                    background: inherit;
                    border: none;
                    margin: 10px;
                    font-size: 18px;
                    font-weight: bold;

                    a {
                        color: rgb(212, 212, 212);
                        text-decoration: none;

                        &:hover {
                            transition: 0.2s;
                            color: white;
                        }

                        @include x-small {
                            font-size: 16px;
                        }
                    }
                }

            }
        }
    }
}