.searchFilterMaster {
  padding: 2vh 2vh !important;
  background: var(--dark-grey);
}

.searchFilterMaster h4+input {
  font-size: 18px;
}

.button-box .button-input {
  display: flex;
  justify-content: right;
}

.button-box .button-input button {
  transition: 0.2s;
  font-size: 16px;
  font-weight: bold;
  color: rgb(72, 72, 72);
  padding: 0.75vh 1.75vh;
  box-shadow:
  1px 1px 0.5em rgba(122, 122, 122, 0.55),
  inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
  inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
}

.button-box .button-input button:active {
  box-shadow:
  1px 1px 0.5em rgba(122, 122, 122, 0.55),
  inset -1.5px -1.5px 0 rgba(255, 255, 255, 0.9),
  inset 1.5px 1.5px 0 rgba(0, 0, 0, 0.5);
}