.searchFilterMaster {
  padding: 2vh 2vh !important;
  background: var(--dark-grey);
}

.searchFilterMaster h4+input {
  font-size: 18px;
}

.searchFilterMaster ul li {
  filter: drop-shadow(1.5px 1.5px 1.5px black);
}

.button-box .button-input {
  display: flex;
  justify-content: right;
}

.button-box .button-input button {
  background: rgb(218, 218, 218);
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  color: rgb(72, 72, 72);
  border-radius: 5px;
  padding: 0.75vh 1.75vh;
}

