/* SEARCH PARAMETERS */
.keyword-box {
  width: 600px;
  margin: 3px auto;
}

.keyword-box section {
  padding: 0;
  margin: 2px;
}

.keyword-box ul {
  height: 8.25vh;
}

.keyword-box li {
  margin: 0 auto;
}

.name-input h6 {
  font-size: 17px;
  margin-bottom: 4px;
}

.name-input ul {
  display: flex;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
}

.name-input li {
  margin: 0 10px;
  color: white;
}

.name-input input {
  border: 1px solid black;
  border-radius: 0.25em;
  padding-left: 8px;
  width: 24.5vh;
  height: 3.5vh;
}

#keyword-search {
  pointer-events: none;
}

.button-box {
  display: flex;
  justify-content: center;
}

.searchFilterBottomPanel .button-input {
  display: flex;
  padding: 0 5px;
  width: 42vh;
  justify-content: right;
}

.button-input ul {
  padding: 0;
  margin: 0;
}

.button-input li {
  margin: 10px 0px;
  padding: 0 5px;
}

.button-input button {
  background: rgb(218, 218, 218);
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  color: rgb(72, 72, 72);
  border-radius: 5px;
  padding: 0.75vh 1.75vh;
}

.button-input #search-button {
  background: rgb(160, 215, 255)
}

.searchFilterMaster {
  margin-top: 10vh;
}

.searchFilterMaster h2 {
  color: rgb(172, 172, 172);
  text-shadow: 1px 1px 0 #000000;
  font-weight: bold;
}

.searchFilterContainer {
  margin: 0 auto;
  padding-bottom: 20px;
}

.searchFilterSearchBarMaster {
  background-image: url('https://i.imgur.com/bkvxp5e.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 65.5vh;
}

.searchFilterSearchBarContainer {
  padding-top: 42.5vh;
}

.searchFilterSearchBarContainer h5 {
  text-align: left;
  margin: 5px auto;
  padding-left: 2.5px;
  width: 40vh;
  color: rgb(92, 92, 92);
  text-shadow: 1px 1px 0 white;
  font-weight: bold;
  font-size: 18px;
}

.searchFilterSearchBar {
  width: 40vh;
  height: 3.5vh;
  padding: 1.5vh 1vh;
  font-size: 18px;
}

#search-button .searchFilterIcon {
  margin-left: 0.75vh;
  height: 16px;
  width: 16px
}

.searchFilterAdvSearchContainer {
  margin: 0 auto;
  margin-top: -2.5vh;
  text-align: center;
  background-image: linear-gradient(to left, rgb(255, 140, 136), rgb(180, 45, 35));
  border-radius: 0;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 2px 2px 0 rgba(255, 255, 255, 0.9),
  inset -2px -2px 0 rgba(0, 0, 0, 0.34);
}

.searchFilterAdvSearchContainer .rs-panel-collapse {
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset -1px -1px 0 rgba(255, 255, 255, 0.9),
  inset 0px 1px 0 rgba(0, 0, 0, 0.34);
}

.searchFilterAdvSearchContainer .rs-panel-header {
  padding: 12.5px;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.34);
}

.searchFilterAdvSearchContainer .rs-panel-header .rs-icon {
  color: white;
  filter: drop-shadow( 0px 0px 1px black);
  top: 35%;
}

.searchFilterAdvSearchContainer span span {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 0px;
}

.searchFilterAdvSearchPanelHeader {
  text-align: center;
  background: rgb(182, 182, 182);
  border-radius: 0;
}

.searchFilterAdvSearchPanelHeader .rs-panel-header {
  padding: 0.75vh;
}

.searchFilterAdvSearchPanelHeader span span {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 darkslategrey;
  text-decoration: none;
  margin: 0px;
}

.searchFilterAdvExpansion h4 {
  color: white;
  text-shadow: 1px 1px 0 darkslategrey;
  padding-top: 1.5vh;
  margin-bottom: 0;
}

.rarity-input-sec img {
  width: 17px;
  margin-right: 3.5px;
  margin-left: 3.5px;
}

.rarity-input-sec .iconEnlarge {
  padding: 1px;
  width: 26px;
  margin-right: 0px;
}