/* SEARCH PARAMETERS */
.keyword-box {
    width: 600px;
    margin: 3px auto;
  }
  
  .keyword-box section {
    padding: 0;
    margin: 2px;
  }
  
  .keyword-box ul {
    height: 8.25vh;
  }
  
  .keyword-box li {
    margin: 0 auto;
  }
  
  .name-input h6 {
    font-size: 17px;
    margin-bottom: 4px;
  }
  
  .name-input ul {
    display: flex;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
  }
  
  .name-input li {
    margin: 0 10px;
    color: white;
  }
  
  .name-input input {
    border: 1px solid black;
    border-radius: 0.25em;
    padding-left: 8px;
    width: 24.5vh;
    height: 3.5vh;
  }
  
  #keyword-search {
    pointer-events: none;
  }
  
  .button-box {
    display: flex;
    justify-content: center;
  }
  
  #search-param .button-input {
    width: 80vh;
    justify-content: right;
    margin: 0px 5px;
  }

  .button-input {
    display: flex;
    padding: 0 5px;
  }
  
  .button-input ul {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    justify-content: right;
    padding: 0;
  }
  
  .button-input li {
    margin: 10px 0px;
  }
  
  #search-param .button-input button {
    background: rgb(218, 218, 218);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    filter: drop-shadow(1.5px 1.5px 1.5px black);
    color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px 30px;
    border: 2px solid rgba(145, 145, 145, 0.35);
    transition: 0.2s;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 2px 2px 0 rgba(255, 255, 255, 0.9),
      inset -2px -2px 0 rgba(0, 0, 0, 0.34);
  }
  
  .button-input button:active {
    filter: drop-shadow(1px 1px 1px black);
    transform: scale(0.9);
  }
  
  .searchFilterMaster {
    margin-top: -2.5vh;
  }

  .searchFilterContainer {
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .searchFilterContainer .basic-search {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .searchFilterContainer .advanced-search {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .searchFilterSearchBar {
    width: 40vh;
    height: 3.5vh;
    padding: 1.5vh 1vh;
    font-size: 18px;
  }

  .searchFilterIcon {
    margin-bottom: 0.5vh;
    margin-left: 0.5vh;
  }

  .searchFilterAdvSearchContainer {
    text-align: center;
    border: none;
    margin: 0 20vh;
  }

  .searchFilterAdvSearchContainer svg{
    display: none;
  }

  .searchFilterAdvSearchContainer span span {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 128);
    text-decoration: none;
    margin: 0px;
  }

  .searchFilterAdvSearchPanelHeader {
    text-align: center;
    background-image: linear-gradient(to left, rgb(136, 185, 255), rgb(35, 95, 180));
    box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.9),
    inset -1.5px -1.5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }
  
  .searchFilterAdvSearchPanelHeader .rs-panel-header {
    padding: 1vh;
    margin-bottom: 1vh;
  }

  .searchFilterAdvSearchPanelHeader span span {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.9);
    text-decoration: none;
    margin: 0px;
  }