@import "rsuite/dist/rsuite.css";

.sideBar {
    display: flex;
    border: 1px solid black;
    padding: 1vh;
}

.sideBarPanel {
    flex: 1;
    width: 18vh;
    margin: 1vh;
    padding: 5vh;
    border: 1px solid black;
}