@import "../../index.scss";

.expansion-body {
    height: 100%;

    section {

        .right {

            .row {

                img {
                    width: 160px;
                    height: 111px;
                }
            }
        }
    }
}